POSTGRES_USER = user
POSTGRES_PASSWORD = passwd
POSTGRES_DB = cronet_data

REDIS_PASSWORD = passwd

NATS_SERVER_TOKEN=super_token

CLICKHOUSE_PASSWORD=super_str0ng_password

QDRANT_SERVICE_API_KEY=strog3st_api_key